* {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

body {
  text-align: center;
}

#game {
  display: table;
  border-collapse: collapse;
  display: grid;
  height: 80vh;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

#game > div {
  background: #eee;
  border: 2px solid black;
  margin: 0.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
}

#game > .box0 {
  display: hidden;
  border: none;
  background: transparent;
}

.game-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em;
}

button {
  font-weight: bold;
  font-size: 1.5em;
  cursor: pointer;
  margin: 0.2em;
  padding: 1em;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.05);
}
